body{
    display: block;
    margin: 5% 30%;
}


header{
    padding:12px;
    text-align: left;
    font-size: 10px;
    border-bottom: 3px solid black;
    

}

.button{
     float: right;
     font: 10px italic black;
     padding-right: 5px;
}

h5{
    font-style: italic;
}

p{
    text-align: justify;
}